[user]
        email = cucumb3rpasha@gmail.com
        name = Pavel Ohursov
[url "git@github.com:"]
	insteadOf = https://github.com/
[includeIf "gitdir:/home/losos/dev/getswif/"]
        path = /home/losos/dev/getswif/.gitconfig

